{% extends "ProjectsApi/base.html" %}

{% block body %}
{% load static %}

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">
      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="javascript:history.back()" class="nav-link scrollto active"><i class="bx bx-exit"></i> <span>Exit</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->


  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>{{ detail.title }}</h2>
          <ol>
            <li><a href="javascript:history.back()">Home</a></li>
            <li>Portfoio Details</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">
                {% for image in detail.images.all %}
                <div class="swiper-slide">
                  <img src="{{ image.image.url }}" alt="">
                </div>
                {% endfor %}
              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>Project information</h3>
              <ul>
                {% for field in detail.fields.all %}
                  {% if field.subtitle %}
                    {% if field.subtitle|urlize == field.subtitle %}
                      <li><strong>Project URL</strong>: <a href="{{ field.subtitle }}" target="_blank">{{ field.subtitle }}</a></li>
                    {% else %}
                      <li><strong>Subtitle</strong>: {{ field.subtitle }}</li>
                    {% endif %}
                  {% endif %}
                {% endfor %}
              </ul>              
            </div>
            <div class="portfolio-description">
              <h2>Description</h2>
              <p>
                {{ detail.description }}
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->

  {% endblock body %}